div {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  background-color: white;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 0.5em;
}

img {
  width: 75%;
}

div:hover {
  cursor: pointer;
}
