<div class="pokemon-details-container" *ngIf="pokemon">
  <div>
    <h1>{{pokemon.name.toUpperCase()}}</h1>
    <img [src]="pokemon.sprites.front_default" alt="">
    <h1>Base</h1>
    <br/>
    <h3>Types</h3>
    <ul>
      <li *ngFor="let type of pokemon.types">
          {{type.type.name}}
      </li>
    </ul>
    <br/>
      <h3>Base Stats</h3>
    <ul>
      <li *ngFor="let stat of pokemon.stats">
         {{stat.stat.name + " " + stat.base_stat}}
      </li>
    </ul>
    <br/>
  </div>

  <div>
    <h1>Profile</h1>
    <br/>
    <h3>Height {{pokemon.height}}</h3>
    <h3>Weight {{pokemon.weight}}</h3>
    <br/>
    <h3>Abilities</h3>
    <ul>
      <li *ngFor="let ability of pokemon.abilities">
          {{ability.ability.name}}
      </li>
    </ul>
    <br/>
    <h3>Base Experience {{pokemon.base_experience}}</h3>
  </div>

  <div>
    <br/>
    <h1>Moves</h1>
    <br/>
    <ul>
    <li *ngFor="let move of pokemon.moves">
        {{move.move.name}}
    </li>
    </ul>
  </div>
  <h3 *ngIf="caught" style="text-align: center; margin-top: 1em;">You caught this Pokemon!</h3>
  <button (click)="collectPokemon()">Catch Pokemon</button>
</div>
<div style="padding: 0.1em"></div>
