.pokemon-details-container {
  width: 30%;
  height: auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.50);
  background-color: white;
  left: 0;
  right: 0;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  padding-bottom: 1em;
}

h1 {
  background-color: lightgrey;
}

img {
  width: 70%;
}

.pokemon-details-container div {
  text-align: center;
  font-size: 1.5vw;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  list-style-type: none;
  border: 1px solid gray;
  margin: 0.2em;
  border-radius: 0.5em;
  padding: 0.2em;
  background-color: #e0dfdf;
}

button {
  margin: 2em auto;
  width: 50%;
  height: 4em;
  font-size: 2em;
  background-color: darkseagreen;
  border-radius: 1em;
}
