<div class="pokemon-container">
<app-pokemon-card *ngFor="let p of pokemonList"
                [pokemon]="p">
</app-pokemon-card>
</div>
<div class="button-container">
  <button (click)="browsePrev()"><</button>
  <button (click)="browseNext()">></button>
</div>
