.pokemon-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5em, 1fr));
  grid-gap: 0.625em;
  align-items: center;
  justify-items: center;
  margin: 1em 1em;
}

.button-container {
  display: flex;
  justify-content: center;

}

button {
  width: 5em;
  height: 3em;
  margin: 1em;
  border-radius: 0.5em;
  font-size: 1em;
}
