<div class="login-container">
  <h1>Pokemon Trainer App</h1>
  <input id="userName" type="text" placeholder="Trainer name"  [(ngModel)]="username">
  <button class="login-btn" (click)="onLogin(username)">Log in</button>
  <p>{{errorMsg}}</p>
</div>
