.login-container {
  position: relative;
  width: 30%;
  height: 500px;
  box-shadow: 0 0 20px rgba(0,0,0,0.55);
  background-color: white;
  top: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 0.5em;
}

input {
  width: 20em;
  height: 3em;
  border: none;
  border-bottom: 2px solid black;
  font-size: 24px;
}

input:focus {
  outline: none;
}

p {
  color: red;
}

button {
  font-size: 24px;
  width: 15em;
  height: 3em;
  background-color: darkseagreen;
  box-shadow: 0 0 10px rgba(0,0,0,0.35);
  border-radius: 1em;
}

button:hover {
  cursor: pointer;
}
