<header>
  <div class="brand-container">
  <img src="../../../../assets/pokeball.png" alt="">
  <h1>Pokemon Trainer</h1></div>
  <nav class="nav-links" *ngIf="storageService.get(storageService.USER_KEY)">
    <a class="nav-link" routerLink="/profile">Profile</a>
    <a class="nav-link" routerLink="/catalogue">Catalogue</a>
  </nav>
</header>
