
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  header {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: rgba(0,0,0,0.75);
  color: white;
  padding: 0 20px;
  justify-content: space-around;
  height: 8vh;
}

.brand-container {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 0 20px;
}

.nav-link:hover {
  color: lightgrey;
}

img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

