<div class="trainer-container">
  <h1>Welcome, {{username}}</h1>
  <h1>You have caught {{collection.length}} Pokemon(s) so far!</h1>
</div>
<div class="pokemon-container">
  <app-pokemon-card *ngFor="let p of collection"
                    [pokemon]="p">
  </app-pokemon-card>
</div>
<div style="padding: 0.1em"></div>
