.pokemon-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5em, 1fr));
  grid-gap: 0.625em;
  align-items: center;
  justify-items: center;
  margin: 1em;
}

h1 {
  position: relative;
  margin-top: 1em;
  text-align: center;
}

.trainer-container
{
  background-color: white;
  width: 50%;
  margin: auto;
  border-radius: 0.5em;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding-bottom: 1em;
}
