/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  font-family: segoe ui light, serif;
}

html, body {
  height: 100%;
  background: url(https://images7.alphacoders.com/745/745055.png) no-repeat fixed;
  background-size: cover;
  margin-top: 6vh;
  margin-bottom: 1vh;
  padding-bottom: 1vh;
}

